<div class="container">
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<% if logged_in? %>
				<%= render 'urls/new' %>
				<aside>
					<%= render 'urls/index' %>
				</aside>
				
			<% else %>
				<h2>Simply paste your loooooooooooooong URL and get a <b>sh</b>ort <b>url</b> (shurl)</h2>
				<p class="text-center">Sign in to keep track of your shurls.</p>
				<%= render 'sessions/new' %>
				<p class="divider-text"><span class="bg-light"></span></p>
				<p class="text-center">New user? Sign up now!</p>
				<%= render 'users/new' %>
			<% end %>
		</article>
	</div> <!-- card.// -->
</div> 
<!--container end.//-->