<div class="center jumbotron">
	<h1>Hi. I'm shurl, SHortener of URLs.</h1>

	<h2>
		Simply paste your loooooooooooooooooong URL and get a shurl.
	</h2>
	<span><%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %> to keep track of your shurls.</span> 
</div>